body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*#topBar{*/
    /*height:50px;*/
/*}*/

/*#topBar .logo img{*/
    /*height:50px;*/
/*}*/

#userBlock{
    background: white;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
